{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Complaint Registration</title>
  </head>



  <body>
    <h1> Welcome to complaint registration! </h1>
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input class='button' type="submit" value="Submit" >
    </form>

    <form action="{% url 'complaint-dashboard' %}">
		    <input type="submit" value="Complaint Dashboard"><br/>
	  </form>


    <form action="{% url 'index' %}">
        <input type="submit" value="HOME"><br/>
    </form>

  </body>
{% endblock content %}

</html>
