{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Successfully Reistered!</title>
  </head>
  <body>
    {% if form %}
      <h1> Complaint Registered </h1>
      <h3>You can access your complaint through token id {{form.token}}. </h3>
      <p>Complaint: {{form.complaint}} <br>
        Registered on: {{form.date}}</p>
       <p> !! DO NOT REFRESH THIS PAGE !! </p>
    {% else %}
      <h1> Please go back to complaint registration page </h1>
    {% endif %}
    <form action="{% url 'complaint-registration' %}">
		    <input type="submit" value="Register another"><br/>
	  </form>

    <form action="{% url 'complaint-dashboard' %}">
		    <input type="submit" value="Complaint Dashboard"><br/>
	  </form>


    <form action="{% url 'index' %}">
        <input type="submit" value="HOME"><br/>
    </form>

  </body>

{% endblock %}
</html>
